.delda_dkgrey{
	background-color: #444444;
	padding: 1em 0;
}
h1{
	font-size:1.2em;
	color: white !important;
}
.delda_subtitle{
	color: #008CBA;
	font-size:0.9em;
	padding-top:1em;
}
.delda_subtitle div{
	padding-left:0.5em;
}
.delda_option{
	color: black;
	font-size:1.1em;
}
.delda_suboption{
	color: #666;
	font-size:0.9em;
}
.delda_shape{
	background-repeat:no-repeat;
	background-position:0 50%;
	padding-left:3rem;
}
.delda_shape_circle{
	background-image:url("http://delda.github.io/pebble_binaryWatch/img/circle.png");
}
.delda_shape_square{
	background-image:url("http://delda.github.io/pebble_binaryWatch/img/square.png");
}
option{
	height:2.3125em;
	padding:0.4rem;
}
.delda_cancel_link{
	color:#666;
	font-size:0.8em;
	padding-right:1em;
	text-decoration: underline;
}
.center{
	text-align:center;
}
#version_alert{
	margin-top:2em;
	display:none;
}
.delda_modal_title{
	background-color: #444;
	color: white;
	margin-top: 2em;
	padding: 1em;
}
.delda_modal_version{
	background-color: #EEE;
	padding: 0.8em 0;
	color: #AAA;
	font-size:0.8em;
}
.delda_modal_text{
	color: #444;
	font-size:0.8em;
}
.delda_version{
	font-size:0.6em;
	line-height:3em;
}
